{:kotoba.app/id "cloud.itonami.card-issuing", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicqggudx2xygrt7mnwv5vootj5cuqn6pyihx5r6lb4a4eo7kxnt2y", :kotoba.app/embed-url "ipfs://bafkreicqggudx2xygrt7mnwv5vootj5cuqn6pyihx5r6lb4a4eo7kxnt2y", :published {:archive "https://kotobase.net/ipfs/bafkreicqggudx2xygrt7mnwv5vootj5cuqn6pyihx5r6lb4a4eo7kxnt2y", :size 4950, :put-status 201, :get-status 200, :at "2026-08-15T13:47:34.843Z"}}
